<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fase.mapper.ProfessionMapper" >
  <resultMap id="BaseResultMap" type="com.fase.po.Profession" >
    <id column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="PNAME" property="pname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PID, PNAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PROFESSION
    where PID = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PROFESSION
    where PID = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fase.po.Profession" >
    insert into PROFESSION (PID, PNAME)
    values (#{pid,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fase.po.Profession" >
    insert into PROFESSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PID,
      </if>
      <if test="pname != null" >
        PNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fase.po.Profession" >
    update PROFESSION
    <set >
      <if test="pname != null" >
        PNAME = #{pname,jdbcType=VARCHAR},
      </if>
    </set>
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fase.po.Profession" >
    update PROFESSION
    set PNAME = #{pname,jdbcType=VARCHAR}
    where PID = #{pid,jdbcType=VARCHAR}
  </update>
</mapper>